
<div class="nav-page">
    <nav class="navbar navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/icon.png" class="icon-banner">
            IdentityServer4
        </a>
        <a href="~/logout" class="navbar-text text-right">Выход</a>

    
    </nav>
</div>
